.menu{
    list-style:none;
    position:fixed;
    background-color:lightblue;
    margin-top:0;
    z-index:10;
    margin-left:150;
    width:100%;
}
.list{
    display:inline;
    padding-left:40px;
    padding-right:40px;
}
body{
    text-align:center;
background-color:cyan;
}
img{
    border:double;
    border-color:black;
}
.img2{
 height:200;
    width:200;
}